//Elementos generales
body
  background-color: $gray-light

//Elementos de identificación
.user
  width: 320px
  margin: 20px auto
  background-color: $gray-lightest
  border-radius: 30px
  box-shadow: 0px 0px 10px 2px $gray
  margin-top: $margin*3
  padding: $padding*3
  div
    text-align: center
    i
      margin: $margin*2 auto
      color: $gray-light

//Elementos de BBDD
.bbdd
  margin: 20px auto
  background-color: $gray-lightest
  border-radius: 30px
  box-shadow: 0px 0px 10px 2px $gray
  margin-top: $margin*3
  padding: $padding*3

.col-form-label
  line-height: 1rem

.form-control
  margin-bottom: 1rem

input
  height: 45px
  vertical-align: middle

.cabecera
  height: 70px
  background-color: $gray-dark
  padding: 15px

//Footer
.footer
  position: absolute
  bottom: 0
  width: 100%
  background-color: $gray-lightest
  color: $gray
  padding: $padding*2 $padding
  a
    color: $gray
    &:hover
      color: $gray
